.btn-musgo {
  background-color: #66A62E; /* verde musgo vivo */
  border-color: #66A62E;
  color: white;
  font-weight: 500;
}

.btn-musgo:hover {
  background-color: #558B24; /* mais escuro no hover */
  border-color: #4a7a1f;
}

h3, h5, input,p{
  font-family: 'Chewy', cursive;
  color: #000000;
}

a{
  color: #6f42c1;
    cursor: pointer;        /* mostra a mãozinha */
}

