<div class="container" [class.right-panel-active]="isRegisterActive">
  <!-- LOGIN -->
  <div class="form-container">
    <div class="card-body">
      <form class="login-form">
        <h2 class="mb-4 text-center text-black">Acesse sua conta</h2>

        <label class="text-black">Email ou CPF</label>
        <input type="text" [(ngModel)]="usuarioLogin" name="usuarioLogin" class="form-control mb-3"
          placeholder="Digite seu email ou CPF" />

        <label class="text-black">Senha</label>
        <input type="password" [(ngModel)]="senhaLogin" name="senhaLogin" class="form-control mb-3"
          placeholder="Digite sua senha" />

        <div class="text-center mb-3">
          <a href="#">Esqueceu a senha?</a><br />
          <span class="text-black">Não tem uma conta? </span>
          <a href="#" (click)="togglePanel()">Cadastre-se!</a>
        </div>

        <button type="button" class="btn btn-purple w-100" (click)="logar()">Acessar</button>
      </form>
    </div>
  </div>

  <!-- REGISTRO -->
  <div class="form-container sign-up-container">
    <div class="card-body">
      <form>
        <h3 class="text-center mb-3 text-black">Criar Conta</h3>

        <!-- Campo: Nome e Sobrenome -->
        <h6 class="nomeSbr">Nome e sobrenome</h6>
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" placeholder="Digite seu nome completo" class="form-control" required
            [(ngModel)]="usuario.nome" name="nome" /> <!-- Nome do campo, usado pelo Angular Forms -->
        </mdb-form-control>

        <!-- Campo: E-mail -->
        <h6 class="nomeSbr">E-mail</h6>
        <mdb-form-control class="mb-4">
          <input mdbInput type="email" placeholder="Digite o seu e-mail" class="form-control" required
            [(ngModel)]="usuario.email" name="email" />
        </mdb-form-control>

        <!-- Campo: Senha -->
        <h6 class="nomeSbr">Senha</h6>
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" placeholder="Digite sua senha" class="form-control" required minlength="8"
            [(ngModel)]="usuario.senha" name="senha" />
        </mdb-form-control>

        <!-- Campo: Usuário -->
        <h6 class="nomeSbr">Usuário</h6>
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" placeholder="Digite seu usuário" class="form-control" required
            [(ngModel)]="usuario.usuario" name="usuario" />
        </mdb-form-control>

        <p class="text-center text-black">
          Já tem uma conta?
          <a href="#" (click)="togglePanel()">Acesse!</a>
        </p>

        <button mdbRipple type="button" class="btn btn-purple w-100" (click)="save()">
          Salvar
        </button>
      </form>
    </div>
  </div>

  <!-- PAINEL DE FUNDO -->
  <div class="overlay-container">
    <div class="overlay">
      <!-- LADO ESQUERDO -->
      <div class="overlay-panel overlay-left d-flex flex-column align-items-center justify-content-start pt-0">
        <img src="assets/logoPet.png" alt="Logo" class="overlay-img">
        <h3>Bem-vindo de volta!</h3>
        <p>Para continuar conectado, faça login com suas credenciais</p>
        <button class="btn btn-outline-light" (click)="togglePanel()">Login</button>
      </div>

      <!-- LADO DIREITO -->
      <div class="overlay-panel overlay-right d-flex flex-column align-items-center justify-content-start pt-3">
        <img src="assets/logoPet.png" alt="Logo" class="overlay-img">
        <h3>Olá!</h3>
        <p>Não tem conta ainda? Crie uma e comece agora!</p>
        <button class="btn btn-outline-light" (click)="togglePanel()">Registrar</button>
      </div>