.btn-musgo {
  background-color: #66A62E; /* verde musgo vivo */
  border-color: #66A62E;
  color: white;
  font-weight: 500;
}

.btn-musgo:hover {
  background-color: #558B24; /* mais escuro no hover */
  border-color: #4a7a1f;
}

h1, h2, h3, h4, h5, h6, button, input, p {
  color: #000000;
}

a{
  color: #6f42c1;
}