<app-navbar></app-navbar>
<div class="categoria-container">
  <h1 class="titulo-pagina" *ngIf="categoriaPai">
    {{ categoriaPai.nome }}
  </h1>

  <p class="resultados" *ngIf="!loading && produtos.length > 0">
    {{ produtos.length }} produtos encontrados
  </p>

    <div class="loading" *ngIf="loading">
    <p>Carregando produtos...</p>
  </div>

    <div class="erro" *ngIf="error">
    <p>Categoria não encontrada.</p>
  </div>

    <div class="grid-produtos" *ngIf="!loading && !error && produtos.length > 0">
    @for (p of produtos; track p.id) {
    <div 
      class="produto-card" 
    >
      <img [src]="p.urlFoto" [alt]="p.nome" class="imagem">
      
      <div class="info">
        <h3>{{ p.nome }}</h3>
        
        <div class="preco">
          <span class="valor">R$ {{ p.precoVenda | number:'1.2-2' }}</span>
          <small class="parcela">
            ou 6x de R$ {{ (p.precoVenda! / 6) | number:'1.2-2' }} sem juros
          </small>
        </div>
      </div>

      <button 
          class="btn-add circular-btn" 
          [routerLink]="['/produtoDetails', p.id]"
      >
        <i class="bi bi-plus fs-4 text-light"></i>
      </button>
    </div>
    }
  </div>

    <div class="vazio" *ngIf="!loading && !error && produtos.length === 0">
    <p>Nenhum produto encontrado nesta categoria.</p>
  </div>
</div>