
<div class="container mt-4">
  <h2 class="mb-4">Todos os Produtos</h2>

  <hr>
  <div class="row">
    @for (produto of produtos; track $index) {
    <div class="col-md-3 mb-3">
      <div class="card h-100 card-Produto " [routerLink]="['/principal/produtoDetails', produto.id]">
        <img [src]="produto.urlFoto" class="card-img-top" alt="{{ produto.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ produto.categoria?.nome }} </h5>
          <p class="card-text">{{ produto.descricao }}</p>

          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0"><strong>R$ {{ produto.precoVenda }}</strong></p>

            <button class="btn circular-btn">
              <!-- <i class="bi bi-plus-circle fs-4 text-primary"></i> -->
              <i class="bi bi-plus fs-4 text-light"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
    }
  </div>

</div>