
<div class="container mt-4">
  <h2 class="mb-4">Produtos em Destaque</h2>
  <h6>Selecionados especialmente para seu pet</h6>

  <hr>
  <div class="row">
    @for (produto of produtos; track $index) {
    <div class="col-md-3 mb-3">
      <div class="card h-100 card-Produto " [routerLink]="['/principal/produtoDetails', produto.id]">
        <img [src]="produto.urlFoto" class="card-img-top" alt="{{ produto.nome }}">
        <div class="card-body">
          <h5 class="card-title">{{ produto.categoria?.nome }} </h5>
          <p class="card-text">{{ produto.descricao }}</p>

          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0"><strong>R$ {{ produto.precoVenda }}</strong></p>

            <button class="btn circular-btn">
              <!-- <i class="bi bi-plus-circle fs-4 text-primary"></i> -->
              <i class="bi bi-plus fs-4 text-light"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
    }
  </div>

</div>

<section class="offers-section text-center py-5">
  <div class="offers-content">
    <h2 class="fw-bold mb-3 text-white">Receba Ofertas Exclusivas</h2>
    <p class="text-light mb-4">
      Cadastre-se e ganhe <strong>10% de desconto</strong> na primeira compra + frete grátis
    </p>

    <form class="d-flex justify-content-center flex-wrap gap-2">
      <input
        type="email"
        class="form-control form-control-lg w-auto"
        placeholder="Seu melhor e-mail"
        required
      />
      <button type="submit" class="btn btn-light fw-semibold btn-lg">
        Cadastrar
      </button>
    </form>

    <p class="mt-3 small text-light-50">
      🔒 Seus dados estão seguros conosco
    </p>
  </div>
</section>