.card-direita{
  background-color: transparent;
  border: none;
  box-shadow: none !important;
}

.botao{
  background-color: #9541e3 ;
  border-color: #6f42c1;
  color: white;
  font-weight: 500;
}


.botao:hover{
  background-color: #8a2be2 ;
  border-color: #6f42c1;
  color: white;
  font-weight: 500;
}

.botao-fin{
  border-color: #6f42c1 !important;
  color: #6f42c1 !important;
}