<footer class="footer-container">
    <div class="footer-links">
      <a href="#">Condições de Uso</a> | 
      <a href="#">Notificação de Privacidade</a> | 
      <a href="#">Cookies</a> | 
      <a href="#">Anúncios Baseados em Interesses</a>
    </div>
    <p>&copy; 2021-2025 PetHouse, Inc. ou suas afiliadas</p>
    <p>PetHouse Serviços de Varejo do Brasil Ltda. | CNPJ 12.345.678/0001-90</p>
    <p>Av. Brasil, 2077, Torre A, 12º andar - Foz do Iguaçu CEP: 85851-000 | Fale conosco | <a href="mailto:ajuda-pethouse@pethouse.com.br"></a></p>
  </footer>