<header class="header-container">
  <div class="logo">
    <img src="assets/logoPet.png" alt="PetHouse Logo" />
    <span>Olá, {{ userName }}</span>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Busque por produtos, marcas ou categorias..." />
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="user-actions">
    <button class="cep-button">
      <i class="fas fa-map-marker-alt"></i> Informar CEP
    </button>

    <button class="orders-btn">
      <i class="fas fa-box"></i> Meus Pedidos
    </button>

    <button class="cart-btn" [routerLink]="['/principal/carrinho']">
      <i class="fas fa-shopping-cart"></i>
      Carrinho
    </button>

    @if (usuario.cpf=="") {
    <button class="account-btn" (click)="goToLogin()">
      <i class="fas fa-user"></i> Entrar / Cadastrar
    </button>
    }@else {
      <button class="account-btn" (click)="goToUsuario()">
      <i class="fas fa-user"></i> Perfil
    </button>
    }


    @if (isAccountMenuOpen) {
    <div class="account-menu">
      <a href="#" (click)="closeAccountMenu()">Configurações</a>
      <a href="#" (click)="closeAccountMenu()">Sair</a>
    </div>
    }
  </div>
</header>