<!-- REGISTRO -->
  <div class="form-container sign-up-container">
    <div class="card-body">
      <form>
        <h3 class="text-center mb-3 text-black">Criar Conta</h3>

        <!-- Campo: Nome e Sobrenome -->
        <h6 class="nomeSbr">Nome e sobrenome</h6>
        <mdb-form-control class="mb-3">
          <input mdbInput type="text" placeholder="Digite seu nome completo" class="form-control" required
            [(ngModel)]="usuario.nome" name="nome" /> <!-- Nome do campo, usado pelo Angular Forms -->
        </mdb-form-control>

        <!-- Campo: CPF -->
        <h6 class="nomeSbr">CPF</h6>
        <mdb-form-control class="mb-3">
          <input mdbInput type="text" placeholder="Digite seu CPF" class="form-control" required
            [(ngModel)]="usuario.cpf" name="cpf" /> <!-- Nome do campo, usado pelo Angular Forms -->
        </mdb-form-control>

        <!-- Campo: E-mail -->
        <h6 class="nomeSbr">E-mail</h6>
        <mdb-form-control class="mb-3">
          <input mdbInput type="email" placeholder="Digite o seu e-mail" class="form-control" required
            [(ngModel)]="usuario.email" name="email" />
        </mdb-form-control>

        <!-- Campo: Senha -->
        <h6 class="nomeSbr">Senha</h6>
        <mdb-form-control class="mb-3">
          <input mdbInput type="password" placeholder="Digite sua senha" class="form-control" required minlength="8"
            [(ngModel)]="usuario.senha" name="senha" />
        </mdb-form-control>

        <!-- Campo: Usuário -->
        <h6 class="nomeSbr">Usuário</h6>
        <mdb-form-control class="mb-3">
          <input mdbInput type="text" placeholder="Digite seu usuário" class="form-control" required
            [(ngModel)]="usuario.user" name="usuario" />
        </mdb-form-control>

        <p class="text-center text-black">
          Já tem uma conta?
          <a class="tag-a" (click)="togglePanel()">Acesse!</a>
        </p>

        <button mdbRipple type="button" class="btn btn-purple w-100 btn-lg" (click)="save()">
          Salvar
        </button>
      </form>
    </div>
  </div>