<nav class="nav-container">
  <ul class="nav-list">
    <li *ngFor="let category of categories" class="nav-item" [class.has-dropdown]="category.dropdown"
        (mouseenter)="onMouseEnter(category.name)" (mouseleave)="onMouseLeave(category.name)">
      <a href="#">
        {{ category.name }}
        <span *ngIf="category.dropdown" class="dropdown-icon">▼</span>
      </a>
      <ul *ngIf="category.dropdown && category.isOpen" class="dropdown-menu">
        <li *ngFor="let item of category.dropdownItems">
          <a href="#">{{ item }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>