<header class="header-container shadow-sm"> <!--Cabeçalho principal da página-->
  <!--Container que ocupa toda a largura da tela e organiza o conteúdo-->
  <!--d-flex é display: flex para alinhamento, justify empurra para a direita, align centraliza-->
  <div class="container-fluid d-flex justify-content-end align-items-center h-100">
    <div class="text-end info-admin"> <!--Informações do administrador-->
      <h6 class="m-0">Bem-vindo, administrador!</h6>
      <p class="m-0">Administrador</p>
    </div>
  </div>
</header>