/* You can add global styles to this file, and also import other style files */
@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@use "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;   /* esconde só o scroll horizontal */
  overflow-y: auto;     /* deixa o vertical aparecer quando necessário */
  background-color: #f7f7f7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
