.mini-promo {
  background: linear-gradient(90deg, #6a11cb 0%, #9e51e6 100%);
  border-radius: 16px;
  color: white;
  padding: 15px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .mini-promo-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  img {
    width: 130px;
    height: auto;
    border-radius: 12px;
    background: white;
    padding: 8px;
  }

  .text {
    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }
}
