<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="mb-4">Sacola</h3>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-start">Produtos</th>
                                    <th class="text-end">Preço</th>
                                    <th class="text-end">Quantidade</th>
                                    <th class="text-end">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="text-end mb-4">
                        <button class="btn btn-link text-primary">
                            Limpar sacola
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------->

        <div class="col-lg-4 mt-5">

            <!-- CARD SUPERIOR – SELECIONAR ENDEREÇO -->
            <div class="card card-endereco p-3" (click)="toggleEnderecos()" style="cursor: pointer;">

                <h4>Selecionar endereço de entrega</h4>
                <!-- Exibir endereço selecionado quando fechado -->
                @if (!enderecosAbertos && enderecoSelecionado) {
                <div class="endereco-selecionado mt-3">
                    <p class="fw-bold m-0">
                        {{ enderecoSelecionado.logradouro }}, {{ enderecoSelecionado.numero }}
                    </p>
                    <p class="m-0 text-muted">
                        {{ enderecoSelecionado.bairro }} - {{ enderecoSelecionado.cidade }}
                    </p>
                    <p class="m-0 text-muted">
                        {{ enderecoSelecionado.estado }} • CEP {{ enderecoSelecionado.cep }}
                    </p>
                </div>
                }
            </div>

            <!-- LISTAGEM DE ENDEREÇOS (ABRE FECHA COM ANIMAÇÃO) -->
            @if (enderecosAbertos) {
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="mb-3">Endereços cadastrados</h5>

                    <!-- SE NÃO EXISTIR ENDEREÇOS -->
                    @if (enderecos.length == 0) {
                    <p class="text-danger fw-bold mt-2">Nenhum endereço cadastrado.</p>

                    <button class="btn btn-outline-primary w-100 mt-3 custom-border" [routerLink]="['/usuario/adress']">
                        Cadastrar novo endereço
                    </button>
                    }

                    <!-- SE EXISTIR ENDEREÇOS -->
                    @for (end of enderecos; track end.id) {
                    <div class="endereco-item mt-2">

                        <label class="d-flex align-items-start w-100">
                            <input type="radio" name="endereco" class="me-2 mt-1" [(ngModel)]="enderecoTempSelecionado"
                                [value]="end">

                            <div>
                                <strong>{{ end.logradouro }}, {{ end.numero }}</strong>

                                <p class="m-0 text-muted">
                                    {{ end.bairro }} - {{ end.cidade }}
                                </p>

                                <p class="m-0 text-muted">
                                    {{ end.estado }} • CEP {{ end.cep }}
                                </p>
                            </div>

                        </label>
                    </div>
                    }

                    @if (enderecos.length > 0) {
                    <button class="btn btn-purple  mt-3 w-100" (click)="confirmarEndereco()"
                        [disabled]="!enderecoTempSelecionado">
                        Selecionar Endereço
                    </button>
                    <button class="btn btn-outline-primary w-100 mt-3 custom-border" [routerLink]="['/usuario/adress']">
                        Alterar / Cadastrar endereço
                    </button>
                    }

                    

                    <!-- Mensagem vermelha -->
                    @if (erroEndereco) {
                    <p class="text-danger mt-3">{{ erroEndereco }}</p>
                    }
                </div>
            </div>
            }
            <br>
            <br>

            <div class="card ">
                <div class="card-body">
                    <h5 class="mb-4">Resumo do Pedido</h5>
                    <div class="order-summary-card">
                        <h6 class="mb-3">Resumo do pedido</h6>

                        <div class="d-flex justify-content-between mb-2">
                            <span>Valor dos produtos</span>
                            <span>R$ </span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-2">
                            <strong>Total</strong>
                            <strong>R$</strong>
                        </div>

                        <div class="payment-methods mt-4">
                            <h6>Formas de pagamento</h6>

                            <div class="d-flex flex-column gap-3">

                                <!-- Cartão -->
                                <label class="d-flex align-items-center p-2 border rounded payment-option">
                                    <input type="radio" name="pagamento" [(ngModel)]="pagamentoSelecionado"
                                        value="cartao" class="me-2">
                                    <i class="bi bi-credit-card" style="font-size: 2rem; color:#6f42c1;"></i>
                                    <span class="ms-2">Cartão de Crédito/Débito</span>
                                </label>
                                <!-- Mostrar detalhes da forma selecionada -->
                                @if (pagamentoSelecionado == 'cartao') {
                                <div class="mt-3">
                                    <h6>Dados do Cartão</h6>
                                    <input type="text" class="form-control mb-2" placeholder="Número do Cartão">
                                    <input type="text" class="form-control mb-2" placeholder="Validade (MM/AA)">
                                    <input type="text" class="form-control mb-2" placeholder="CVV">
                                </div>
                                }


                                <!-- Pix -->
                                <label class="d-flex align-items-center p-2 border rounded payment-option">
                                    <input type="radio" name="pagamento" [(ngModel)]="pagamentoSelecionado" value="pix"
                                        class="me-2">
                                    <i class="bi bi-qr-code" style="font-size: 1.5rem; color:#28a745;"></i>
                                    <span class="ms-2">Pix</span>
                                </label>

                                @if (pagamentoSelecionado == 'pix') {
                                <div class="mt-3">
                                    <h6>Pagamento via Pix</h6>
                                    <p>O QR Code será gerado após a finalização do pedido.</p>
                                </div>
                                }


                                <!-- Boleto -->
                                <label class="d-flex align-items-center p-2 border rounded payment-option">
                                    <input type="radio" name="pagamento" [(ngModel)]="pagamentoSelecionado"
                                        value="boleto" class="me-2">
                                    <i class="bi bi-receipt" style="font-size: 1.5rem; color:#28a745;"></i>
                                    <span class="ms-2">Boleto Bancário</span>
                                </label>
                            </div>

                            @if (pagamentoSelecionado == 'boleto'){
                            <div class="mt-3">
                                <h6>Boleto Bancário</h6>
                                <p>O boleto será enviado por e-mail após a confirmação.
                                <p>
                            </div>
                            }

                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-purple btn-lg" (click)="finalizarCompra()">
                                    Finalizar Compra
                                </button>
                                <button class="btn btn-outline-primary btn-lg custom-border">
                                    <strong [routerLink]="['/home']">Continuar Comprando</strong>
                                </button>
                            </div>

                            @if (erroFinalizacao) {
                            <p class="text-danger text-center mt-2">{{ erroFinalizacao }}</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3 mb-3">
    <p style="font-size: 0.85rem; color: gray;">
        Os valores e a disponibilidade dos itens podem variar ao longo do tempo.
        Colocar produtos na sacola não garante reserva, portanto finalize a sua compra o quanto antes.
    </p>

</div>